@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
nav{
 left: 0;
 top: 0;
 width: 100%;
 height: 105px;
 background: #2980b9;
 box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
nav .navbar{
 display: flex;
 align-items: center;
 justify-content: space-between;
 height: 100%;
 max-width: 90%;
 background: #2980b9;
 margin: auto;
}
nav .navbar .logo a{
  color: #fff;
  font-size: 27px;
  font-weight: 600;
  text-decoration: none;
}
nav .navbar .menu{
  display: flex;
}
.navbar .menu li{
  list-style: none;
  margin: 0 15px;
}
.navbar .menu li a{
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
}
section{
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #96c7e8;
}
#Home{
  background: #fff;
}
#About{
  background: #f2f2f2;
}
#Category{
  background: #e6e6e6;
}
#Latest{
  background: #fff;
}
#Contact{
  background: #f2f2f2;
}
#Feedback{
  background: #e6e6e6;
}
.button a{
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: #2980b9;
  padding: 7px 12px;;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
}
.hero-image {
    height: 550px;
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Hero\ Image.jpg");
  
    /* Set a specific height */
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Place text in the middle of the image */
  .hero-text {
    font-size: larger;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  article {

    --img-scale: 1.001;
    --title-color: black;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background: #fff;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
  }
  
  article a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
  }
  
  /* basic article elements styling */
  article h2 {
    margin: 0 0 18px 0;
    font-family: "Bebas Neue", cursive;
    font-size: 1.9rem;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
  }
  
  figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
  }
  
  article img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
  }
  
  .article-body {
    padding: 24px;
  }
  
  article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #28666e;
  }
  
  article a:focus {
    outline: 1px dotted #28666e;
  }
  
  article a .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
  }
  
  /* using the has() relational pseudo selector to update our custom properties */
  article:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: #28666e;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  
  
  /************************ 
  Generic layout (demo looks)
  **************************/
  

  body {
    margin: 0;
    padding: 0px 10;
    line-height: 1.6rem;
    background-image: linear-gradient(45deg, #7c9885, #b5b682);
  }
  
  .articles {
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
  }
  
  @media screen and (max-width: 960px) {
    article {
      container: card/inline-size;
    }
    .article-body p {
      display: none;
    }
  }
  
  @container card (min-width: 380px) {
    .article-wrapper {
      display: grid;
      grid-template-columns: 100px 1fr;
      gap: 16px;
    }
    .article-body {
      padding-left: 0;
    }
    figure {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    figure img {
      height: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }
  
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }
  .courses{
    font-size: larger;
    margin-left: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    text-align: center;
  }
  .course{
    font-size: 18px;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .wrapper {
    --background: #4F29F0;
    --background-dark: #371CA8;
    --icon-color: #414856;
    --shape-color-01: #B8CBEE;
    --shape-color-02: #7691E8;
    --shape-color-03: #FDD053;
    --width: 80px;
    --height: 80px;
    --border-radius: var(--height);
    width: var(--width);
    height: var(--height);
    position: relative;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
    overflow: hidden;
    transition: transform 0.3s;
    transform: scale(var(--scale, 1));
  }
  .wrapper:active {
    --scale: .95;
  }
  .wrapper > .btn {
    width: var(--width);
    height: var(--height);
    position: relative;
    background: var(--background);
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0s ease 0.5s;
  }
  .wrapper > .btn:before, .wrapper > .btn:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-clip-path: circle(150% at 200% 200%);
            clip-path: circle(150% at 200% 200%);
  }
  .wrapper > .btn:before {
    background: var(--background-dark);
  }
  .wrapper > .btn:after {
    background: var(--background);
  }
  .wrapper > svg {
    width: 32px;
    height: 42px;
    position: absolute;
    z-index: 2;
    transition: transform 0.3s linear;
  }
  .wrapper > svg .shape {
    fill: none;
    stroke: #fff;
    stroke-width: 6px;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .wrapper input {
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius);
    cursor: pointer;
    position: absolute;
    z-index: 5;
    margin: 0;
    opacity: 0;
  }
  .wrapper input:checked ~ .btn {
    background: var(--background-dark);
  }
  .wrapper input:checked ~ .btn:before {
    -webkit-clip-path: circle(150% at 100% 100%);
            clip-path: circle(150% at 100% 100%);
    transition: -webkit-clip-path 0.5s ease;
    transition: clip-path 0.5s ease;
    transition: clip-path 0.5s ease, -webkit-clip-path 0.5s ease;
    z-index: 1;
  }
  .wrapper input:checked ~ .btn:after {
    -webkit-clip-path: circle(150% at 200% 200%);
            clip-path: circle(150% at 200% 200%);
    transition: -webkit-clip-path 0s ease;
    transition: clip-path 0s ease;
    transition: clip-path 0s ease, -webkit-clip-path 0s ease;
  }
  .wrapper input:checked ~ svg {
    transform: translate(0, -2px);
  }
  .wrapper input:checked ~ svg .shape-01 {
    stroke-dashoffset: 63;
    stroke-dasharray: 23 40 23 40;
    -webkit-animation: shape-01-animate 1s ease forwards;
            animation: shape-01-animate 1s ease forwards;
  }
  .wrapper input:checked ~ svg .shape-02 {
    stroke-dashoffset: 29;
    stroke-dasharray: 16 29 13;
    -webkit-animation: shape-02-animate 0.5s ease forwards;
            animation: shape-02-animate 0.5s ease forwards;
  }
  .wrapper input:checked ~ svg .shape-03 {
    stroke-dashoffset: 57;
    stroke-dasharray: 20 36 0;
    -webkit-animation: shape-03-animate 0.5s ease forwards 0.25s;
            animation: shape-03-animate 0.5s ease forwards 0.25s;
  }
  .wrapper input:checked ~ svg .shape-04 {
    stroke-dashoffset: 22;
    stroke-dasharray: 22 24 0;
    -webkit-animation: shape-04-animate 0.75s ease forwards 0.25s;
            animation: shape-04-animate 0.75s ease forwards 0.25s;
  }
  .wrapper input:checked ~ svg .shape-05 {
    stroke-dashoffset: 46;
    stroke-dasharray: 46 46 0;
    -webkit-animation: shape-05-animate 0.75s ease forwards 0.25s;
            animation: shape-05-animate 0.75s ease forwards 0.25s;
  }
  .wrapper input:not(:checked) ~ .btn {
    background: var(--background);
  }
  .wrapper input:not(:checked) ~ .btn:before {
    -webkit-clip-path: circle(150% at 200% 200%);
            clip-path: circle(150% at 200% 200%);
    transition: -webkit-clip-path 0s ease;
    transition: clip-path 0s ease;
    transition: clip-path 0s ease, -webkit-clip-path 0s ease;
  }
  .wrapper input:not(:checked) ~ .btn:after {
    -webkit-clip-path: circle(150% at 100% 100%);
            clip-path: circle(150% at 100% 100%);
    transition: -webkit-clip-path 0.5s ease;
    transition: clip-path 0.5s ease;
    transition: clip-path 0.5s ease, -webkit-clip-path 0.5s ease;
    z-index: 1;
  }
  .wrapper input:not(:checked) ~ svg {
    transform: translate(2px, -5px);
  }
  .wrapper input:not(:checked) ~ svg .shape-01 {
    stroke-dashoffset: 1;
    stroke-dasharray: 0 25 40 0;
    -webkit-animation: shape-01-animate-r 1s ease forwards;
            animation: shape-01-animate-r 1s ease forwards;
  }
  .wrapper input:not(:checked) ~ svg .shape-02 {
    stroke-dashoffset: 45;
    stroke-dasharray: 43 0 0;
    -webkit-animation: shape-02-animate-r 0.5s ease forwards 0.5s;
            animation: shape-02-animate-r 0.5s ease forwards 0.5s;
  }
  .wrapper input:not(:checked) ~ svg .shape-03 {
    stroke-dashoffset: 116;
    stroke-dasharray: 0 57 0;
    -webkit-animation: shape-03-animate-r 0.5s ease forwards 0.25s;
            animation: shape-03-animate-r 0.5s ease forwards 0.25s;
  }
  .wrapper input:not(:checked) ~ svg .shape-04 {
    stroke-dashoffset: 0;
    stroke-dasharray: 45 0 45;
    -webkit-animation: shape-04-animate-r 0.75s ease forwards;
            animation: shape-04-animate-r 0.75s ease forwards;
  }
  .wrapper input:not(:checked) ~ svg .shape-05 {
    stroke-dashoffset: 46;
    stroke-dasharray: 20 46 26;
    -webkit-animation: shape-05-animate-r 0.75s ease forwards;
            animation: shape-05-animate-r 0.75s ease forwards;
  }
  
  @-webkit-keyframes shape-01-animate {
    0% {
      stroke-dashoffset: 63;
      stroke-dasharray: 23 40 23 40;
    }
    50% {
      stroke-dashoffset: 40;
      stroke-dasharray: 23 40 0 40;
    }
    75% {
      stroke-dashoffset: 40;
      stroke-dasharray: 23 40 0 40;
    }
    100% {
      stroke-dashoffset: 1;
      stroke-dasharray: 0 25 40 0;
    }
  }
  
  @keyframes shape-01-animate {
    0% {
      stroke-dashoffset: 63;
      stroke-dasharray: 23 40 23 40;
    }
    50% {
      stroke-dashoffset: 40;
      stroke-dasharray: 23 40 0 40;
    }
    75% {
      stroke-dashoffset: 40;
      stroke-dasharray: 23 40 0 40;
    }
    100% {
      stroke-dashoffset: 1;
      stroke-dasharray: 0 25 40 0;
    }
  }
  @-webkit-keyframes shape-01-animate-r {
    0% {
      stroke-dashoffset: 1;
      stroke-dasharray: 0 25 40 0;
    }
    25% {
      stroke-dashoffset: 40;
      stroke-dasharray: 23 40 0 40;
    }
    50% {
      stroke-dashoffset: 40;
      stroke-dasharray: 23 40 0 40;
    }
    100% {
      stroke-dashoffset: 63;
      stroke-dasharray: 23 40 23 40;
    }
  }
  @keyframes shape-01-animate-r {
    0% {
      stroke-dashoffset: 1;
      stroke-dasharray: 0 25 40 0;
    }
    25% {
      stroke-dashoffset: 40;
      stroke-dasharray: 23 40 0 40;
    }
    50% {
      stroke-dashoffset: 40;
      stroke-dasharray: 23 40 0 40;
    }
    100% {
      stroke-dashoffset: 63;
      stroke-dasharray: 23 40 23 40;
    }
  }
  @-webkit-keyframes shape-02-animate {
    0% {
      stroke-dashoffset: 29;
      stroke-dasharray: 16 29 13;
    }
    33.3% {
      stroke-dashoffset: 29;
      stroke-dasharray: 16 29 0;
    }
    66.6% {
      stroke-dashoffset: 45;
      stroke-dasharray: 16 29 13;
    }
    100% {
      stroke-dashoffset: 45;
      stroke-dasharray: 43 0 0;
    }
  }
  @keyframes shape-02-animate {
    0% {
      stroke-dashoffset: 29;
      stroke-dasharray: 16 29 13;
    }
    33.3% {
      stroke-dashoffset: 29;
      stroke-dasharray: 16 29 0;
    }
    66.6% {
      stroke-dashoffset: 45;
      stroke-dasharray: 16 29 13;
    }
    100% {
      stroke-dashoffset: 45;
      stroke-dasharray: 43 0 0;
    }
  }
  @-webkit-keyframes shape-02-animate-r {
    0% {
      stroke-dashoffset: 45;
      stroke-dasharray: 43 0 0;
    }
    33.3% {
      stroke-dashoffset: 45;
      stroke-dasharray: 16 29 13;
    }
    66.6% {
      stroke-dashoffset: 29;
      stroke-dasharray: 16 29 0;
    }
    100% {
      stroke-dashoffset: 29;
      stroke-dasharray: 16 29 13;
    }
  }
  @keyframes shape-02-animate-r {
    0% {
      stroke-dashoffset: 45;
      stroke-dasharray: 43 0 0;
    }
    33.3% {
      stroke-dashoffset: 45;
      stroke-dasharray: 16 29 13;
    }
    66.6% {
      stroke-dashoffset: 29;
      stroke-dasharray: 16 29 0;
    }
    100% {
      stroke-dashoffset: 29;
      stroke-dasharray: 16 29 13;
    }
  }
  @-webkit-keyframes shape-03-animate {
    0% {
      stroke-dashoffset: 57;
      stroke-dasharray: 20 36 0;
    }
    50% {
      stroke-dashoffset: 57;
      stroke-dasharray: 0 57 0;
    }
    100% {
      stroke-dashoffset: 116;
      stroke-dasharray: 0 57 0;
    }
  }
  @keyframes shape-03-animate {
    0% {
      stroke-dashoffset: 57;
      stroke-dasharray: 20 36 0;
    }
    50% {
      stroke-dashoffset: 57;
      stroke-dasharray: 0 57 0;
    }
    100% {
      stroke-dashoffset: 116;
      stroke-dasharray: 0 57 0;
    }
  }
  @-webkit-keyframes shape-03-animate-r {
    0% {
      stroke-dashoffset: 116;
      stroke-dasharray: 0 57 0;
    }
    50% {
      stroke-dashoffset: 57;
      stroke-dasharray: 0 57 0;
    }
    100% {
      stroke-dashoffset: 57;
      stroke-dasharray: 20 36 0;
    }
  }
  @keyframes shape-03-animate-r {
    0% {
      stroke-dashoffset: 116;
      stroke-dasharray: 0 57 0;
    }
    50% {
      stroke-dashoffset: 57;
      stroke-dasharray: 0 57 0;
    }
    100% {
      stroke-dashoffset: 57;
      stroke-dasharray: 20 36 0;
    }
  }
  @-webkit-keyframes shape-04-animate {
    0% {
      stroke-dashoffset: 22;
      stroke-dasharray: 22 24 0;
    }
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 45 0 45;
    }
  }
  @keyframes shape-04-animate {
    0% {
      stroke-dashoffset: 22;
      stroke-dasharray: 22 24 0;
    }
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 45 0 45;
    }
  }
  @-webkit-keyframes shape-04-animate-r {
    0% {
      stroke-dashoffset: 0;
      stroke-dasharray: 45 0 45;
    }
    100% {
      stroke-dashoffset: 22;
      stroke-dasharray: 22 24 0;
    }
  }
  @keyframes shape-04-animate-r {
    0% {
      stroke-dashoffset: 0;
      stroke-dasharray: 45 0 45;
    }
    100% {
      stroke-dashoffset: 22;
      stroke-dasharray: 22 24 0;
    }
  }
  @-webkit-keyframes shape-05-animate {
    0% {
      stroke-dashoffset: 46;
      stroke-dasharray: 46 46 0;
    }
    50% {
      stroke-dashoffset: 46;
      stroke-dasharray: 0 46 46;
    }
    100% {
      stroke-dashoffset: 46;
      stroke-dasharray: 20 46 26;
    }
  }
  @keyframes shape-05-animate {
    0% {
      stroke-dashoffset: 46;
      stroke-dasharray: 46 46 0;
    }
    50% {
      stroke-dashoffset: 46;
      stroke-dasharray: 0 46 46;
    }
    100% {
      stroke-dashoffset: 46;
      stroke-dasharray: 20 46 26;
    }
  }
  @-webkit-keyframes shape-05-animate-r {
    0% {
      stroke-dashoffset: 46;
      stroke-dasharray: 20 46 26;
    }
    50% {
      stroke-dashoffset: 46;
      stroke-dasharray: 0 46 46;
    }
    100% {
      stroke-dashoffset: 46;
      stroke-dasharray: 46 46 0;
    }
  }
  @keyframes shape-05-animate-r {
    0% {
      stroke-dashoffset: 46;
      stroke-dasharray: 20 46 26;
    }
    50% {
      stroke-dashoffset: 46;
      stroke-dasharray: 0 46 46;
    }
    100% {
      stroke-dashoffset: 46;
      stroke-dasharray: 46 46 0;
    }
  }
  /* Importing Google font - Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');



.footer {
  width: 1300px;
  background: #10182F;
  border-radius: 6px;
}

.footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3.5rem;
  padding: 60px;
}

.footer-row .footer-col h4 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
}

.footer-col .links {
  margin-top: 20px;
}

.footer-col .links li {
  list-style: none;
  margin-bottom: 10px;
}

.footer-col .links li a {
  text-decoration: none;
  color: #bfbfbf;
}

.footer-col .links li a:hover {
  color: #fff;
}

.footer-col p {
  margin: 20px 0;
  color: #bfbfbf;
  max-width: 300px;
}

.footer-col form {
  display: flex;

}

.footer-col input {
  height: 40px;
  border-radius: 6px;
  background: none;
  width: 100%;
  outline: none;
  border: 1px solid #7489C6 ;
  caret-color: #fff;
  color: #fff;
  padding-left: 10px;
}

.footer-col input::placeholder {
  color: #ccc;
}

 .footer-col form button {
  background: #fff;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}

.footer-col form button:hover {
  background: #cecccc;
}

.footer-col .icons {
  display: flex;
  margin-top: 30px;
  gap: 30px;
  cursor: pointer;
}

.footer-col .icons i {
  color: #afb6c7;
}

.footer-col .icons i:hover  {
  color: #fff;
}

@media (max-width: 768px) {
  .footer {

    bottom: 0;
    left: 0;
    transform: none;
    width: 100%;
    border-radius: 0;
  }

  .footer .footer-row {
    padding: 20px;
    gap: 1rem;
  }

  .footer-col form {
    display: block;
  }

  .footer-col form :where(input, button) {
    width: 100%;
  }

  
}
.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  margin-top: 50px;
}
